<footer class="site">
    <div class="container">
      <div class="copyright">&copy; David Pett 2012</div>
      <div class="social"><a href="https://twitter.com/pettpett" class="twitter-follow-button" data-show-count="false">Follow @pettpett</a></div>
    </div>
</footer>
