article.blog-post-summary {
  border-bottom: 1px solid darken($color-bg, 10%);
  margin: 10px 0;
  padding: 10px 0;
  &:first-child {
    margin-top: 0;
    padding-top: 0;
  }
  &:last-child {
    border-bottom: none;
  }
  time {
    @include font-header;
    font-size: 13px;
    text-transform: uppercase;
  }
}

article.blog-post {
  header {
    @include span-columns(12, 12);
    display: block;
    .title {
      @include span-columns(12, 12);
      margin: 0;
    }
  }
  .copy {
    @include span-columns(12, 12);
    border-bottom: 1px solid darken($color-bg, 10%);
    border-top: 1px solid darken($color-bg, 10%);
    margin-bottom: ms(3) * 0.5;
    padding-bottom: ms(3) * 0.5;
    padding-top: ms(3) * 0.5;
  }
  .comments {
    @include span-columns(12, 12);
  }
}