::selection {
  background: $color-link;
  color: $color-bg;
}

body {
  @include font-sans;
  background-color: $color-bg;
  color: $color-base;
  font-size: ms(0);
  line-height: ms(0) * golden();
  margin-bottom: ms(0) * 0.5;
}
h1, h2, h3 {
  @include font-header;
  color: $color-base;
}
h1 {
  font-size: ms(2);
  line-height: ms(2) * golden();
  margin-bottom: ms(2) * 0.5;
}
h2 {
  font-size: ms(1);
  line-height: ms(1) * golden();
  margin-bottom: ms(1) * 0.5;
}
h3 {
  font-size: ms(0);
  line-height: ms(0) * golden();
  margin-bottom: ms(0) * 0.5;
  text-transform: uppercase;
}
a {
  color: $color-link;
  text-decoration: none;
  @include transition-duration(0.5s);
  @include transition-property(color);
  @include transition-timing-function(ease-out);
  &:hover {
    color: darken($color-link, 20%);
  }
}
p {
  @include trailer();
  &:last-child {
    margin: 0;
  }
}
pre {
  @include font-mono;
  @include trailer();
  background-color: $color-bg;
  border: 1px solid darken($color-bg, 10%);
  overflow: auto;
  padding: 10px;
}
code {
  @include font-mono;
  background-color: $color-bg;
}

strong {
  font-weight: 700;
}
em {
  font-style: italic;
}
li {
  list-style-type: disc;
  margin-left: 40px;
}