footer.site {
  @include span-columns(12, 12);
  background-color: $color-bg;
  border-top: 1px solid darken($color-bg, 10%);
  padding: 20px 0 60px;
  .copyright {
    @include span-columns(6, 12);
  }
  .social {
    @include span-columns(6 omega, 12);
    text-align: right;
  }
}